.service__container{
        width: 100vw;
}
.service{
        max-width: 1140px;
        margin: 0 auto;
        padding: 110px 0;
       
}
.description{
        text-align: center;
}
.service .description .subtitle{
        font-size: 15px;
        opacity: .8;
        margin:  0 0 5px;
}
.service .description .title{
        font-size: 30px;
        color: #495057;
        margin: 0 0 24px;
}
.mb-5{
        margin-bottom: 3rem;
}
.pb-4{
        padding-bottom: 1.5rem;
}
.flex{
        display: flex;
}
.flex-col{
        max-width: 25%;
        margin:  0 0 24px;
        padding: 0 15px;
        width: 285px;
        height: 199px;
}
.card{
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        transition: all 0.3s;
        -webkit-transition: all 0.3s ;
        box-shadow: 2px 3px 10px rgb(206 212 218 / 30%);

}

.card-body{
        padding: 55px 0;
        text-align: center;
}
.card-body .icon{
        display: block;
        margin-bottom: 18px;
        font-size: 40px;
        color: #ff7a57;
}
.card-body h5{
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 1.25rem;
}
.card:hover {
        background-color:  #ff7a57;
        color: #fff;
}
.card:hover .icon{
        color: #fff;
}